circuitsvis==1.43.2
datasets==2.14.5
einops==0.7.0
fancy_einsum==0.0.3
ipython==8.16.1
jaxtyping==0.2.23
numpy==1.26.1
pandas==2.1.2
plotly==5.17.0
torch==2.0.1
tqdm==4.66.1
transformer_lens==1.9.1
transformers==4.34.0